body{
    background: #F3F1FF;
}
.header-container{
    background-color: #562EFF;
}
.nav-link{
    color: #fff !important;
    font-family: Poppins;
}
.navbar-brand img{
    height: 51px;
    width: 40px;
}
/*-------------- main content-------------*/
.head-text{
    color: #562EFF;
}
.main-container{
    background: #FFFFFF;
}
.top-player img{
    height: 56px;
    width: 56px;
}
.card{
    border: none;
}
.author-name{
    color: blue
}
.course-title{
    color: #ED6B4F;
}
.latest-course-container{
    margin-top: 50px;
    background: #FFFFFF;;
}
.course-duration{
    background: #FFE4E8;
    border-radius: 20px;
    padding: 5px 10px;
}
.card-footer{
    border: none;
}
footer{
    border-radius: 20% 20% 0 0;
    background: #84B1A1;
    margin-top: 50px;
}
footer img{
    height: 80px;
    width: 80px;
}
.list-item li{
    list-style: none;
}